<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="/css/factura.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  
  <div class="container">
   
    <div class="box one">
      <div class="details">
        <% data.forEach((producto)=> { %>
        <div class="topic"> <%= producto.nombre %> </div>
       
        <div class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
          <div class="price-box">
            <div class="discount">Precio:  <del>$<%= producto.total*1.19 %> COP</del></div>
            <div class="price">Puja:$ <%= producto.puja %> COP</div>
            <div class="price">COD: <%= producto.codigo_referencia %> </div>
            
          </div>
      </div>
     
       
      

      <form action="/comprarr/<%= producto.codigo_referencia %>" method="post" >
        Oferta: <input type="number" name="cantidad_ofrecida" placeholder="ingrese su puja" class="oferta" required>
        <div class="button1">
       
        <button type="submit">PUJAR</button>
       
      </div>
    </form> 
    <div class="button2">
    <a href="/cata"><button>cancelar</button></a>
  </div>

    </div>
    <div class="box two">
      <div class="image-box">
        <div class="image">
          <img src=" <%= producto.imagen %>" alt="" class="factura_img">
        </div>
        <div class="info">
          <div class="brand"> <%= producto.estado %> </div>
          <div class="name"> <%= producto.tipo %> </div>
          <div class="shipping"> <%= producto.fecha%></div>
          <div class="button2">
         
           
            <form action="/tb/<%= producto.codigo_referencia %>" method="get">


              <button type="submit">ver ofertas</button> </form>     
         
          </div>  
          <% }) %> 
        </div>
      </div>
    </div>
   
  </div>
  
</body>
</html>
